# **Pandas stands for Panel Data or Python Data Analysis.**
## Two collection types in 
- *Panda are series*
- *Dataframe* 
### Pandas helps with five data analysis steps which are, load, manipulate, prepare, model, and analyze. 
#### *To permanently sort data frames you should use the keyword inplace = TRUE with df.sort().*
### CSV is a file type that can be read by Pandas. CSV files contain plain text and are a simple way to store large data sets. 
#### When cleaning data the values that should be removed are NULLs, incorrect data, and duplicates.

In [37]:
#Import NumPy, use one of the NumPy methods and create an array with a shape of (2, 3, 2). You can use the reshape method -- .reshape()
import numpy as np
array = np.arange(12).reshape(2, 3, 2)
print(array)

[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]]

In [45]:
#Use NumPy .linspace() to create an array with 6 linearly spaced values between 0 and 20
import numpy as np

array2 = np.linspace(0, 20, num=6)
print(array2)

[ 0.  4.  8. 12. 16. 20.]
[ 0.  4.  8. 12. 16. 20.]

In [47]:
#Make a Deep Copy of the above array
import copy
arrayz = [0,4,8,12,16,20]

array3 = copy.deepcopy(arrayz)

print(array3)

[0, 4, 8, 12, 16, 20]

In [55]:
#Concatenate these 3 arrays into a new array named 'newArray'...
import numpy as np

ar1 = np.array([[25, 16]])

ar2 = np.array([[11, 2], [13, 4]])

ar3 = np.array([[7, 81], [5, 6], [11, 12]])

newArray = np.concatenate((ar1, ar2, ar3))
print(newArray)

[[25 16]
 [11  2]
 [13  4]
 [ 7 81]
 [ 5  6]
 [11 12]]

In [80]:
#Sort 'newArray' in order into 'sortedArray'
sortedArray = np.sort(newArray)
print(sortedArray)

[[16 25]
 [ 2 11]
 [ 4 13]
 [ 7 81]
 [ 5  6]
 [11 12]]

In [69]:
#Unpack the array tuples from the above 'reshapedArray' into 4 well named variables. Print the 4 variables.
a = np.array ([[7, 81], [5, 6], [11, 2], [11, 12]])

unpack1, unpack2, unpack3, unpack4 = a

print(unpack1)
print(unpack2)
print(unpack3)
print(unpack4)

[ 7 81]
[5 6]
[11  2]
[11 12]

In [93]:
#Combined and sort the following arrays into one called 'comboArray' ...
one = np.array ([10, 11, 12, 13, 14, 15, 16, 17])
two = np.array ([20, 21, 22, 23, 24, 25, 26, 27])
three = np.array ([ 0, 1, 2, 3, 4, 5, 6, 7])

comboArray = np.concatenate((one, two, three,))
print(comboArray)
print(np.sort(comboArray))
print(len(comboArray))

[10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27  0  1  2  3  4  5  6  7]
[ 0  1  2  3  4  5  6  7 10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27]
24

In [130]:
#Take 'comboArray' and perform the following slicing activities:
#print sec1 - the 2nd element
print(comboArray[1])
#print sec2 - all elements from the 3rd element to the last
print(comboArray[2:])
#print sec3 - all elements from the 4th to the 14th elements
print(comboArray[3:15])
#print sec4 - the last 6 elements
print(comboArray[18:])
#print sec5 - all element from #0 up to and including #15, using the negative number method, i.e. taking a section from the end.
print(comboArray[0:-8])
#print sec6 - from #20 every even element to the end
print(comboArray[8:25:2])
#print sec7 - from the last element moving forward, every 5th element.
print(comboArray[-1:28:5])

11
[12 13 14 15 16 17 20 21 22 23 24 25 26 27  0  1  2  3  4  5  6  7]
[13 14 15 16 17 20 21 22 23 24 25 26]
[2 3 4 5 6 7]
[10 11 12 13 14 15 16 17 20 21 22 23 24 25 26 27]
[20 22 24 26  0  2  4  6]
[7]

In [153]:
#Using Series, create a DataFrame that looks like this:
import pandas as pd

ingredients = pd.Series(["Flour", "Milk", "Eggs", "Spam"], name='Ingredients')
quantity = pd.Series([4,1,2,1], name='Quantity')
unit = pd.Series(["cups", "cup", "large", "can"], name='Unit')
df = pd.concat([ingredients, quantity, unit], axis=1)
print(df)

  Ingredients  Quantity   Unit
0       Flour         4   cups
1        Milk         1    cup
2        Eggs         2  large
3        Spam         1    can

In [65]:
#Take this data and create a DataFrame named studentData
import pandas as pd

Data = {"Name": ['Jai', 'janusha', 'Gaurav', 'Anuj'],
        "Height": [5.1, 6.2, 5.1, 5.2],
        "Qualification": ['Msc', 'MA', 'Msc', 'Msc'],
        "address": ['Delhi', 'Doha', 'Chennai', 'Dakhar'],
         "Age": [21, 23, 24, 21],
         "Pets": ['Dog', 'Bunny', 'Chinchilla', 'Parrot'],
          "sport": ['Darts', 'Basketball', 'PaddleBoarding', 'Cricket']}
        
studentData = pd.DataFrame(Data)

#Add a new column to the DataFrame with the following deserts: ["ice cream", "Cashew Fudge", "waffels", "Carrot Halwa"]
deserts = ["ice cream", "Cashew Fudge", "waffels", "Carrot Halwa"]
studentData['Deserts'] = deserts
print(studentData)

#Sort the 'studentData' DataFrame in Ascending order -- Sorting by column 'Name' and then "address"
studentData.sort_values(by = ["Name", "address"], inplace = True)
print(studentData)

      Name  Height Qualification  address  Age        Pets           sport  \
0      Jai     5.1           Msc    Delhi   21         Dog           Darts
1  janusha     6.2            MA     Doha   23       Bunny      Basketball
2   Gaurav     5.1           Msc  Chennai   24  Chinchilla  PaddleBoarding
3     Anuj     5.2           Msc   Dakhar   21      Parrot         Cricket

        Deserts
0     ice cream
1  Cashew Fudge
2       waffels
3  Carrot Halwa
      Name  Height Qualification  address  Age        Pets           sport  \
3     Anuj     5.2           Msc   Dakhar   21      Parrot         Cricket
2   Gaurav     5.1           Msc  Chennai   24  Chinchilla  PaddleBoarding
0      Jai     5.1           Msc    Delhi   21         Dog           Darts
1  janusha     6.2            MA     Doha   23       Bunny      Basketball

        Deserts
3  Carrot Halwa
2       waffels
0     ice cream
1  Cashew Fudge

In [66]:
#Save this DataFrame here below to disc as a .CSV file with the name cows_and_goats.csv:
import pandas as pd

df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
df.to_csv('cows_and_goats.csv')

df = pd.read_csv('cows_and_goats.csv')
print(df)

  Unnamed: 0  Cows  Goats
0     Year 1    12     22
1     Year 2    20     19

In [72]:
#(A) Using Pandas, make your own .CSV file with data on vegetables and save it. (B) Using Pandas, make a change to your CSV file, and save a copy with a different name.
import pandas as pd

data = {"color": ["green", "orange", "red"],
        "name":  ["broccoli", "orange", "strawberry"]}

df = pd.DataFrame(data)

df.to_csv('vegetables.csv')

df = pd.read_csv('vegetables.csv')
print(df)
#(A) Using Pandas, make your own .CSV file with data on vegetables and save it. (B) Using Pandas, make a change to your CSV file, and save a copy with a different name.

df.loc[1, "color"] = "burnt orange"

df.to_csv('vegetables_2.csv')

df = pd.read_csv('vegetables_2.csv')
print(df)

   Unnamed: 0   color        name
0           0   green    broccoli
1           1  orange      orange
2           2     red  strawberry
   Unnamed: 0.1  Unnamed: 0         color        name
0             0           0         green    broccoli
1             1           1  burnt orange      orange
2             2           2           red  strawberry